# Data Cleaning
## Author: Amanda Belden
### Master's Thesis

### Install Packages and Libraries

In [ ]:
#pip install pgmpy
#pip install feature_engine
#pip install graphviz
#pip install pydot

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Clean NY ISRID Data

### Read in Data

In [ ]:
df_NYIncidents = pd.read_excel("NY_IncidentDataRequest.xlsx")
df_NYIncidents.head()

In [ ]:
df_NYSubjects = pd.read_excel("NY_IncidentSubjectDataRequest.xlsx")
df_NYSubjects.head()

### Merge Datasets and Add Mission Hours

The code in this section was written by Julian Duran on the Probabilistic Reasoning AI4S&R Fall 2023 team.

Merge NY Subjects and NY Incidents Datasets from ISRID.

In [ ]:
df_NYSubjects.drop(["INCIDENT NUMBER", "INCIDENT ID NUMBER", "SUBJECT ID NUMBER", "EQUIPMENT USED", "TECHNIQUE", "FOUND IN SEARCH AREA"], axis=1, inplace=True)

In [ ]:
df_ny_merged = pd.concat([df_NYIncidents, df_NYSubjects], axis=1)
# df_ny_merged.head()

In [ ]:
# df_ny_merged.info()

Create total incident time and notified time.

In [ ]:
df_ny_merged['TOTAL HOURS ISD'] = (pd.to_datetime(df_ny_merged["INCIDENT CLOSED DATE/TIME"], format='%m/%d/%Y %I:%M %p') -
                                   pd.to_datetime(df_ny_merged["INCIDENT START DATE"], format='%m/%d/%Y %I:%M %p')).dt.total_seconds() / 3600

df_ny_merged['TOTAL HOURS DON'] = (pd.to_datetime(df_ny_merged["INCIDENT CLOSED DATE/TIME"], format='%m/%d/%Y %I:%M %p') -
                                   pd.to_datetime(df_ny_merged["DUTY OFFIC NOTIFDATE"], format='%m/%d/%Y %I:%M %p')).dt.total_seconds() / 3600

In [ ]:
df_ny_merged["TOTAL HOURS ISD"] = df_ny_merged["TOTAL HOURS ISD"].astype(int)
df_ny_merged["TOTAL HOURS DON"] = df_ny_merged["TOTAL HOURS DON"].astype(int)

df_ny_merged.loc[df_ny_merged["TOTAL HOURS ISD"] < 0, "TOTAL HOURS ISD"] = np.nan
df_ny_merged.loc[df_ny_merged["TOTAL HOURS DON"] < 0, "TOTAL HOURS DON"] = np.nan

### Drop Unnecessary Columns

In [ ]:
# df_ny_merged.head()
# df_ny_merged.info()

In [ ]:
df_ny = df_ny_merged.drop(columns=["INCIDENT ID NUMBER", "SUBJECT ID NUMBER"])

### Clean Dates into Year, Month, Day, Time

Create separate year, month, day of week, and time columns.

In [ ]:
df_ny['INCIDENT START DATE'] = pd.to_datetime(df_ny['INCIDENT START DATE'])

# Add a column for year 
df_ny['start_year'] = df_ny['INCIDENT START DATE'].dt.strftime('%Y')

# Add a column for month name
df_ny['start_month'] = df_ny['INCIDENT START DATE'].dt.strftime('%B')

# Add a column for day of week name
df_ny['start_day_of_week'] = df_ny['INCIDENT START DATE'].dt.strftime('%A')

# Add a column for time
df_ny['start_time'] = df_ny['INCIDENT START DATE'].dt.strftime('%H:%M:%S')

# df_ny.head()

In [ ]:
df_ny['DUTY OFFIC NOTIFDATE'] = pd.to_datetime(df_ny['DUTY OFFIC NOTIFDATE'])

# Add a column for year 
df_ny['notif_year'] = df_ny['DUTY OFFIC NOTIFDATE'].dt.strftime('%Y')

# Add a column for month name
df_ny['notif_month'] = df_ny['DUTY OFFIC NOTIFDATE'].dt.strftime('%B')

# Add a column for day of week name
df_ny['notif_day_of_week'] = df_ny['DUTY OFFIC NOTIFDATE'].dt.strftime('%A')

# Add a column for time
df_ny['notif_time'] = df_ny['DUTY OFFIC NOTIFDATE'].dt.strftime('%H:%M:%S')

# df_ny.head()

In [ ]:
df_ny['INCIDENT CLOSED DATE/TIME'] = pd.to_datetime(df_ny['INCIDENT CLOSED DATE/TIME'])

# Add a column for year 
df_ny['closed_year'] = df_ny['INCIDENT CLOSED DATE/TIME'].dt.strftime('%Y')

# Add a column for month name
df_ny['closed_month'] = df_ny['INCIDENT CLOSED DATE/TIME'].dt.strftime('%B')

# Add a column for day of week name
df_ny['closed_day_of_week'] = df_ny['INCIDENT CLOSED DATE/TIME'].dt.strftime('%A')

# Add a column for time
df_ny['closed_time'] = df_ny['INCIDENT CLOSED DATE/TIME'].dt.strftime('%H:%M:%S')

# df_ny.head()

Now we can drop the INCIDENT START TIME and DUTY OFFIC NOTIFDATE.

In [ ]:
df_ny = df_ny.drop(columns=["INCIDENT START DATE", "DUTY OFFIC NOTIFDATE", "INCIDENT CLOSED DATE/TIME"])

## Clean Wildland NYS Dataset

In [ ]:
df_wildland = pd.read_csv("Wildland_Search_and_Rescue_Missions_by_NYS_Forest_Rangers__Beginning_2012.csv")
df_wildland.head()

In [ ]:
# Convert date and time columns to datetime objects
df_wildland['TOTAL INCIDENT TIME'] = pd.to_datetime(df_wildland['INCIDENT CLOSED DATE'] + ' ' + df_wildland['INCIDENT CLOSED TIME']) - pd.to_datetime(df_wildland['INCIDENT START DATE'] + ' ' + df_wildland['INCIDENT START TIME'])
df_wildland['TOTAL INCIDENT TIME'] = df_wildland['TOTAL INCIDENT TIME'] / pd.Timedelta(hours=1)

In [ ]:
df_wildland['INCIDENT CLOSED DATE'] = pd.to_datetime(df_wildland['INCIDENT CLOSED DATE'])
df_wildland['INCIDENT CLOSED TIME'] = pd.to_datetime(df_wildland['INCIDENT CLOSED TIME'])

# Add a column for year 
df_wildland['closed_year'] = df_wildland['INCIDENT CLOSED DATE'].dt.strftime('%Y')

# Add a column for month name
df_wildland['closed_month'] = df_wildland['INCIDENT CLOSED DATE'].dt.strftime('%B')

# Add a column for day of week name
df_wildland['closed_day_of_week'] = df_wildland['INCIDENT CLOSED DATE'].dt.strftime('%A')

# Add a column for time
df_wildland['closed_time'] = df_wildland['INCIDENT CLOSED TIME'].dt.strftime('%H:%M:%S')

In [ ]:
df_wildland['INCIDENT START DATE'] = pd.to_datetime(df_wildland['INCIDENT START DATE'])
df_wildland['INCIDENT START TIME'] = pd.to_datetime(df_wildland['INCIDENT START TIME'])

# Add a column for year 
df_wildland['start_year'] = df_wildland['INCIDENT START DATE'].dt.strftime('%Y')

# Add a column for month name
df_wildland['start_month'] = df_wildland['INCIDENT START DATE'].dt.strftime('%B')

# Add a column for day of week name
df_wildland['start_day_of_week'] = df_wildland['INCIDENT START DATE'].dt.strftime('%A')

# Add a column for time
df_wildland['start_time'] = df_wildland['INCIDENT START TIME'].dt.strftime('%H:%M:%S')

In [ ]:
df_wildland = df_wildland.drop(columns=["INCIDENT START DATE", "INCIDENT START TIME", "INCIDENT CLOSED DATE", "INCIDENT CLOSED TIME",])

In [ ]:
df_wildland = df_wildland.drop(columns=["Location"])

## Merge Wildland & NY

In [ ]:
df_wildland.rename(columns={'LOCATION FOUND LATITUDE': 'LOCATION FOUND LAT', 'LOCATION FOUND LONGITUDE': 'LOCATION FOUND LONG', 'TOTAL INCIDENT TIME': 'TOTAL HOURS ISD'}, inplace=True)

In [ ]:
df_ny.rename(columns={'LAST KNOWN POINTCOUNTY': 'LAST KNOWN POINT COUNTY', 'LAST KNOWN POINTSTATELANDNAME': 'LAST KNOWN POINT STATE LAND NAME', 'INCIDENT LASTKNOWNPOINT MUNI': 'LAST KNOWN POINT MUNICIPALITY'}, inplace=True)

Find overlapping columns between Wildland and NY

In [ ]:
# 1. Find overlapping and non-overlapping column names
overlapping_cols = list(set(df_ny.columns) & set(df_wildland.columns))
non_overlapping_cols_df_ny = list(set(df_ny.columns) - set(df_wildland.columns))
non_overlapping_cols_df_wildland = list(set(df_wildland.columns) - set(df_ny.columns))

non_overlapping_df1 = df_ny[non_overlapping_cols_df_ny]
non_overlapping_df2 = df_wildland[non_overlapping_cols_df_wildland]

Find any cases that are in both datasets

In [ ]:
# 2. Find if any rows overlap using 'INCIDENT NUMBER'
# Find common 'INCIDENT NUMBER' values between the two dataframes
common_incident_numbers = set(df_ny['INCIDENT NUMBER']).intersection(df_wildland['INCIDENT NUMBER'])

# Filter rows in df1 and df2 that have common 'INCIDENT NUMBER' values
common_rows_df1 = df_ny[df_ny['INCIDENT NUMBER'].isin(common_incident_numbers)]
common_rows_df2 = df_wildland[df_wildland['INCIDENT NUMBER'].isin(common_incident_numbers)]

if common_rows_df1.empty or common_rows_df2.empty:
    print("No common rows found.")
else:
    print("Common rows found in df1:")
    print(common_rows_df1)
    # print("\nCommon rows found in df2:")
    # print(common_rows_df2)

In [ ]:
merged_df = pd.merge(df_ny, df_wildland, on='INCIDENT NUMBER', how='outer')

# Identify columns unique to each dataframe
columns_unique_to_df1 = [col for col in df_ny.columns if col not in df_wildland.columns]
columns_unique_to_df2 = [col for col in df_wildland.columns if col not in df_ny.columns]

# Replace NaN values with 'NA' and concatenate unique columns
merged_df[columns_unique_to_df1] = merged_df[columns_unique_to_df1].fillna('NA')
merged_df[columns_unique_to_df2] = merged_df[columns_unique_to_df2].fillna('NA')

In [ ]:
merged_df = merged_df[[col for col in merged_df.columns if not col.endswith('_y')]]

merged_df.columns = [col.replace('_x', '') for col in merged_df.columns]

print("DataFrame after removing '_x' suffix from column names:")
merged_df

In [ ]:
non_unique_rows = merged_df[merged_df.duplicated('INCIDENT NUMBER', keep=False)]
unique_rows = non_unique_rows.drop_duplicates('INCIDENT NUMBER')

In [ ]:
merged_df = merged_df.dropna(subset=['closed_day_of_week'])

In [ ]:
mission_level_columns = list(merged_df.columns)  # Add all 65 column names here
values_to_drop = ['SUBJECT AGE', 'SUBJECT GENDER', 'SUBJECT NUMBER', 'INCIDENT NUMBER']
mission_level_columns = [x for x in mission_level_columns if x not in values_to_drop]

merged_df['SUBJECT AGE'] = pd.to_numeric(merged_df['SUBJECT AGE'], errors='coerce')

# Create a dictionary for aggregation
aggregation_dict = {
    'SUBJECT NUMBER': 'max',  # Maximum subject ID in the group
    'SUBJECT AGE': ['min', 'max'],  # Minimum and maximum subject age in the group
    'SUBJECT GENDER': [lambda x: (x == 'F').sum(), lambda x: (x == 'M').sum()]#,  # Number of females in the group
    # Number of males in the group (total subjects - number of females)
    #'SUBJECT GENDER': lambda x: (x == 'M').sum()
}

# Group the DataFrame by 'INCIDENT NUMBER' and aggregate the information
aggregated_df = merged_df.groupby('INCIDENT NUMBER').agg(aggregation_dict)

# Retrieve values for mission-level columns from the original DataFrame
for column in merged_df.columns:
    if column not in aggregation_dict:
        aggregated_df[column] = merged_df.groupby('INCIDENT NUMBER')[column].first()

# Rename the aggregated columns for clarity
aggregated_df.columns = ['Total Subjects', 'Min Subject Age', 'Max Subject Age', 'Gender F Count', 'Gender M Count', 'Incident Number agg'] + mission_level_columns

# Reset index to make 'INCIDENT NUMBER' a column instead of an index
aggregated_df.reset_index(inplace=True)

In [ ]:
# Convert 'SUBJECT AGE' column to numeric, coercing errors to NaN
merged_df['SUBJECT AGE'] = pd.to_numeric(merged_df['SUBJECT AGE'], errors='coerce')

# Group the DataFrame by 'INCIDENT NUMBER' and aggregate the information
aggregated_df = merged_df.groupby('INCIDENT NUMBER').agg({
    'SUBJECT NUMBER': 'max',  # Maximum subject ID in the group
    'SUBJECT AGE': ['min', 'max'],  # Minimum and maximum subject age in the group
    'SUBJECT GENDER': [lambda x: (x == 'F').sum(), lambda x: (x == 'M').sum()]  # Number of females, males in the group
})

# Rename the aggregated columns for clarity
aggregated_df.columns = ['Total Subjects', 'Min Subject Age', 'Max Subject Age', 'Gender F Count', 'Gender M Count']

# Reset index to make 'INCIDENT NUMBER' a column instead of an index
aggregated_df.reset_index(inplace=True)

aggregated_df['Total Subjects'] = pd.to_numeric(aggregated_df['Total Subjects'], errors='coerce')
aggregated_df['Gender F Count'] = pd.to_numeric(aggregated_df['Gender F Count'], errors='coerce')
aggregated_df['Gender M Count'] = pd.to_numeric(aggregated_df['Gender M Count'], errors='coerce')

In [ ]:
unique_merged_df = merged_df.drop_duplicates(subset=['INCIDENT NUMBER'])

In [ ]:
unique_merged_df = unique_merged_df.drop(columns=["SUBJECT NUMBER", "SUBJECT AGE", "SUBJECT GENDER"])

In [ ]:
# Merge merged_df and aggregated_df on 'INCIDENT NUMBER' column
df_sar = pd.merge(unique_merged_df, aggregated_df, on='INCIDENT NUMBER', how='inner')

## Bin Categorical Variables

Check for quantitative variables to bin: 
MIN TEMP DEG F, MAX TEMP DEG F, MIN SNOW DEPTH IN, MAX SNOW DEPTH IN, LOCATION FOUND LAT, LOCATION FOUND LONG, LOCATION FOUND ELEVATION, TOTAL HOURS ISD, TOTAL HOURS DON, notif_time, closed_time, Total Subjects, Min Subject Age, Max Subject Age, Distinct Equipment Count

In [ ]:
pd.set_option('display.max_columns', None)

# Use df.head() to display the DataFrame with all columns
print(df_sar.head())

# After displaying, you may want to reset the option back to its default value
pd.reset_option('display.max_columns')

### Num Rangers
Bin Number of Rangers Involved into four groups: '1-4', '5-10', '11-20', '21+'

In [ ]:
bins = [1, 5, 11, 21, float('inf')]  # Define the bin edges: 0-4, 5-10, 11+

labels = ['1-4', '5-10', '11-20', '21+']

df_sar['NUMBER RANGERS BINNED'] = pd.cut(df_sar['NUMBER OF RANGERS INVOLVED'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar.loc[:,['NUMBER OF RANGERS INVOLVED', 'NUMBER RANGERS BINNED']].value_counts()

### Min Temp
Check Min Temp Deg F

In [ ]:
df_sar['MIN TEMP DEG F'] = pd.to_numeric(df_sar['MIN TEMP DEG F'], errors='coerce').astype('float')
plt.hist(df_sar['MIN TEMP DEG F'], bins=20)

Bin Min Temp Deg F into 6 groups:
'-30F to 0F', '1F to 20F', '21F to 40F', '41F to 60F', '61F to 80F', '81F to 100F'

In [ ]:
bins = [-30, 1, 21, 41, 61, 81, float('inf')]  # Define the bin edges: 0-4, 5-10, 11+

labels = ['-30F to 0F', '1F to 20F', '21F to 40F', '41F to 60F', '61F to 80F', '81F to 100F']

df_sar['MIN TEMP BINNED'] = pd.cut(df_sar['MIN TEMP DEG F'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar.loc[:,['MIN TEMP BINNED', 'MIN TEMP DEG F']].value_counts()

### Max Temp
Check Max Temp Deg F

In [ ]:
df_sar['MAX TEMP DEG F'] = pd.to_numeric(df_sar['MAX TEMP DEG F'], errors='coerce').astype('float')
plt.hist(df_sar['MAX TEMP DEG F'], bins=20)
plt.xlim(-30, 130)

Bin Max Temp Deg F into 7 groups:
'-30F to 30F', '31F to 50F', '51F to 60F', '61F to 70F', '71F to 80F', '81F to 90F', '91F to 120F'

In [ ]:
bins = [-30, 31, 51, 61, 71, 81, 91, float('inf')]  # Define the bin edges: 0-4, 5-10, 11+

labels = ['-30F to 30F', '31F to 50F', '51F to 60F', '61F to 70F', '71F to 80F', '81F to 90F', '91F to 120F']

df_sar['MAX TEMP BINNED'] = pd.cut(df_sar['MAX TEMP DEG F'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar.loc[:,['MAX TEMP BINNED', 'MAX TEMP DEG F']].value_counts()

### Min Snow Depth
Check Min Snow Depth In

In [ ]:
df_sar['MIN SNOW DEPTH IN'] = pd.to_numeric(df_sar['MIN SNOW DEPTH IN'], errors='coerce').astype('float')
plt.hist(df_sar['MIN SNOW DEPTH IN'], bins=5)
plt.xlim(-1, 80)

Bin Min Snow Depth In into 5 groups: 
'0 IN', '1-5 IN', '6-10 IN', '11-20 IN', '21-60 IN'

In [ ]:
bins = [-1, 1, 6, 11, 21, float('inf')]

labels = ['0 IN', '1-5 IN', '6-10 IN', '11-20 IN', '21-60 IN']

df_sar['MIN SNOW DEPTH BINNED'] = pd.cut(df_sar['MIN SNOW DEPTH IN'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar.loc[:,['MIN SNOW DEPTH BINNED', 'MIN SNOW DEPTH IN']].value_counts()

### Max Snow Depth
Check Max Snow Depth In

In [ ]:
df_sar['MAX SNOW DEPTH IN'] = pd.to_numeric(df_sar['MAX SNOW DEPTH IN'], errors='coerce').astype('float')
plt.hist(df_sar['MAX SNOW DEPTH IN'], bins=15)
plt.xlim(-1, 90)

Bin Max Snow Depth In into 5 groups:
'0 IN', '1-5 IN', '6-10 IN', '11-20 IN', '21-80 IN'

In [ ]:
bins = [-1, 1, 6, 11, 21, float('inf')]

labels = ['0 IN', '1-5 IN', '6-10 IN', '11-20 IN', '21-80 IN']

df_sar['MAX SNOW DEPTH BINNED'] = pd.cut(df_sar['MAX SNOW DEPTH IN'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar.loc[:,['MAX SNOW DEPTH BINNED', 'MAX SNOW DEPTH IN']].value_counts()

### Loc Found Lat
Check Location Found Lat

In [ ]:
df_sar['LOCATION FOUND LAT'] = pd.to_numeric(df_sar['LOCATION FOUND LAT'], errors='coerce').astype('float')
plt.hist(df_sar['LOCATION FOUND LAT'], bins=15)
plt.xlim(40, 45.5)

Bin Location Found Lat into four groups: '40 - 42', '42 - 43', '43 - 44', '44 - 45'

In [ ]:
bins = [0, 42, 43, 44, float('inf')]

labels = ['40 - 42', '42 - 43', '43 - 44', '44 - 45']

df_sar['LOCATION FOUND LAT BINNED'] = pd.cut(df_sar['LOCATION FOUND LAT'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar.loc[:,['LOCATION FOUND LAT BINNED', 'LOCATION FOUND LAT']].value_counts()

### Loc Found Long
Check Location Found Long

In [ ]:
df_sar['LOCATION FOUND LONG'] = pd.to_numeric(df_sar['LOCATION FOUND LONG'], errors='coerce').astype('float')
plt.hist(df_sar['LOCATION FOUND LONG'], bins=15)
plt.xlim(-80, -71)

Bin Location Found Long into five groups: '-80 to -77', '-77 to -75', '-75 to -74', '-74 to -73.5', '-73.5 to -71'

In [ ]:
bins = [-80, -77, -75, -74, -73.5, float('inf')]

labels = ['-80 to -77', '-77 to -75', '-75 to -74', '-74 to -73.5', '-73.5 to -71']

df_sar['LOCATION FOUND LONG BINNED'] = pd.cut(df_sar['LOCATION FOUND LONG'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar.loc[:,['LOCATION FOUND LONG BINNED', 'LOCATION FOUND LONG']].value_counts()

### Loc Found Elevation
Check Location Found Elevation

In [ ]:
df_sar['LOCATION FOUND ELEVATION'] = pd.to_numeric(df_sar['LOCATION FOUND ELEVATION'], errors='coerce').astype('float')
plt.hist(df_sar['LOCATION FOUND ELEVATION'], bins=15)

Bin Location Found Elevation to 5 groups: '0 - 1000', '1000 - 2000', '2000 - 3000', '3000 - 4000', '4000 - 5500'

In [ ]:
bins = [0, 1000, 2000, 3000, 4000, float('inf')]

labels = ['0 - 1000', '1000 - 2000', '2000 - 3000', '3000 - 4000', '4000 - 5500']

df_sar['LOCATION FOUND ELEVATION BINNED'] = pd.cut(df_sar['LOCATION FOUND ELEVATION'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar.loc[:,['LOCATION FOUND ELEVATION BINNED', 'LOCATION FOUND ELEVATION']].value_counts()

### Total Hours ISD
Check Total Hours ISD

In [ ]:
df_sar['TOTAL HOURS ISD'] = pd.to_numeric(df_sar['TOTAL HOURS ISD'], errors='coerce').astype('float')
plt.hist(df_sar['TOTAL HOURS ISD'], bins=20)
plt.xlim(16000, 800000)

Bin Total Hours ISD to 9 groups: '0-1 hrs', '1-2 hrs', '2-3 hrs', '3-4 hrs', '4-5 hrs', '5-10 hrs', '10-30 hrs', 
          '30-100', '100-800000 hrs'

In [ ]:
bins = [0, 1, 2, 3, 4, 5, 10, 30, 100, float('inf')]

labels = ['0-1 hrs', '1-2 hrs', '2-3 hrs', '3-4 hrs', '4-5 hrs', '5-10 hrs', '10-30 hrs', 
          '30-100', '100-800000 hrs']

df_sar['TOTAL HOURS ISD BINNED'] = pd.cut(df_sar['TOTAL HOURS ISD'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar['TOTAL HOURS ISD BINNED'].value_counts()

### Total Hours DON
Check Total Hours DON

In [ ]:
df_sar['TOTAL HOURS DON'] = pd.to_numeric(df_sar['TOTAL HOURS DON'], errors='coerce').astype('float')
plt.hist(df_sar['TOTAL HOURS DON'], bins=20)
# plt.xlim(16000, 800000)

Bin Total Hours Don in 9 groups: '0-1 hrs', '1-2 hrs', '2-3 hrs', '3-4 hrs', '4-5 hrs', '5-10 hrs', '10-30 hrs', 
          '30-100', '100-800000 hrs'

In [ ]:
bins = [0, 1, 2, 3, 4, 5, 10, 30, 100, float('inf')]

labels = ['0-1 hrs', '1-2 hrs', '2-3 hrs', '3-4 hrs', '4-5 hrs', '5-10 hrs', '10-30 hrs', 
          '30-100', '100-800000 hrs']

df_sar['TOTAL HOURS DON BINNED'] = pd.cut(df_sar['TOTAL HOURS DON'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar['TOTAL HOURS DON BINNED'].value_counts()

### Bin Start Time

In [ ]:
# Function to map time to three-hour intervals
def map_to_interval(time_str):
    # Extract hours from the time string
    hour = int(time_str[:2])
    
    # Determine the interval based on the hour
    intervals = ['0-4am', '4-8am', '8am-12pm', '12-4pm', '4-8pm', '8pm-12am']
    interval_index = hour // 4
    return intervals[interval_index]

# Apply the function to create the new column
df_sar['start_time_interval'] = df_sar['start_time'].apply(map_to_interval)

print(df_sar[['start_time', 'start_time_interval']])

# plt.hist(df_sar['notif_time'], bins=20)
# plt.xlim(16000, 800000)

### Gender F Count

In [ ]:
plt.hist(df_sar['Gender F Count']);

Bin Gender F Count in 6 groups: '0 F', '1 F', '2 F', '3 F', '4 F', '5+ F'

In [ ]:
bins = [0, 1, 2, 3, 4, 5, float('inf')]

labels = ['0 F', '1 F', '2 F', '3 F', '4 F', '5+ F']

df_sar['Gender F Count Binned'] = pd.cut(df_sar['Gender F Count'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar['Gender F Count Binned'].value_counts()

### Gender M Count

In [ ]:
df_sar['Gender M Count'].value_counts()

Bin Gender M Count in 6 groups: '0 M', '1 M', '2 M', '3 M', '4 M', '5+ M'

In [ ]:
bins = [0, 1, 2, 3, 4, 5, float('inf')]

labels = ['0 M', '1 M', '2 M', '3 M', '4 M', '5+ M']

df_sar['Gender M Count Binned'] = pd.cut(df_sar['Gender M Count'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar['Gender M Count Binned'].value_counts()

### Prop M Count

In [ ]:
df_sar['Prop M Subjects'] = df_sar['Gender M Count'] / (df_sar['Gender M Count'] + df_sar['Gender F Count'])
plt.hist(df_sar['Prop M Subjects']);

In [ ]:
bins = [0, 0.01, 0.5, 0.51, 1, float('inf')]

labels = ['0% M', '1-49% M', '50% M', '51-99% M', '100% M']
df_sar['Prop M Subjects Binned'] = pd.cut(df_sar['Prop M Subjects'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar['Prop M Subjects Binned'].value_counts()

### Total Subjects

In [ ]:
df_sar['Total Subjects'] = df_sar['Gender M Count'] + df_sar['Gender F Count']

Bin Total Subjects in 6 groups: '0', '1', '2', '3', '4', '5+'

In [ ]:
bins = [0, 1, 2, 3, 4, 5, float('inf')]

labels = ['0', '1', '2', '3', '4', '5+']

df_sar['Total Subjects Binned'] = pd.cut(df_sar['Total Subjects'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar['Total Subjects Binned'].value_counts()

### Min Subject Age

Bin Min Subject Age in 8 groups: '0', '10', '20', '30', '40', '50', '60', '70+'

In [ ]:
df_sar['Min Subject Age'].value_counts()
plt.hist(df_sar['Min Subject Age'])

In [ ]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, float('inf')]

labels = ['0', '10', '20', '30', '40', '50', '60', '70+']

df_sar['Min Subject Age Binned'] = pd.cut(df_sar['Min Subject Age'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar['Min Subject Age Binned'].value_counts()

### Max Subject Age

Bin Max Subject Age in 8 groups: '0', '10', '20', '30', '40', '50', '60', '70+'

In [ ]:
df_sar['Max Subject Age'].value_counts()
plt.hist(df_sar['Max Subject Age'])

In [ ]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, float('inf')]

labels = ['0', '10', '20', '30', '40', '50', '60', '70+']

df_sar['Max Subject Age Binned'] = pd.cut(df_sar['Max Subject Age'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
df_sar['Max Subject Age Binned'].value_counts()

### Change floats to strings

In [ ]:
df_sar['INCIDENT REGION'] = df_sar['INCIDENT REGION'].astype(str)

## Reclassify Categories

### Add Equipment Ind to df_sar

In [ ]:
# Get unique equipment values
unique_equipment_list = set(';'.join(df_sar['EQUIPMENT USED']).split(';'))
unique_equipment = {equipment.strip() for equipment in unique_equipment_list}

# Create dummy columns
for equipment in unique_equipment:
    df_sar[equipment.strip() + ' IND'] = df_sar['EQUIPMENT USED'].apply(lambda x: 'Yes' if equipment in x else 'No')

df_sar.rename(columns={'NA IND': 'NA EQUIPMENT IND'}, inplace=True)

### Add Technique Ind to df_sar

In [ ]:
df_sar['TECHNIQUE'] = df_sar['TECHNIQUE'].astype(str)
# Get unique equipment values
unique_technique_list = set(';'.join(df_sar['TECHNIQUE']).split(';'))
unique_technique = {technique.strip() for technique in unique_technique_list}

# Create dummy columns
for technique in unique_technique:
    df_sar[technique.strip() + ' IND'] = df_sar['TECHNIQUE'].apply(lambda x: 'Yes' if technique in x else 'No')


df_sar.rename(columns={'nan IND': 'NA TECHNIQUE IND'}, inplace=True)

## Combine Some Techniques/Equipment

### Combine ATV/UTV

In [ ]:
def check_atv_utv(row):
    if row['ATV/UTV IND'] == 'Yes' or row['Van IND'] == 'Yes':
        return 'Yes'
    else:
        return 'No'

# Apply the function to create the new column
df_sar['Van/ATV/UTVIND'] = df_sar.apply(lambda row: check_atv_utv(row), axis=1)
df_sar = df_sar.drop(columns=["ATV/UTV IND", 'Van IND'])

### Combine Technical Rope/High Angle

In [ ]:
def check_technical_rope(row):
    if row['Technical Rope IND'] == 'Yes' or row['High Angle IND'] == 'Yes' or row['Technical rope gear IND'] == 'Yes':
        return 'Yes'
    else:
        return 'No'

# Apply the function to create the new column
df_sar['Technical Rope/High Angle IND'] = df_sar.apply(lambda row: check_technical_rope(row), axis=1)
df_sar = df_sar.drop(columns=['Technical Rope IND', 'High Angle IND', 'Technical rope gear IND'])

### Combine Aircraft/Helicopter

In [ ]:
def check_aircraft_heli(row):
    if row['Aircraft evacuation IND'] == 'Yes' or row['Helicopter IND'] == 'Yes' or row['Fixed Wing Aircraft IND'] == 'Yes' or row['UAV IND'] == 'Yes':
        return 'Yes'
    else:
        return 'No'

# Apply the function to create the new column
df_sar['Aircraft/Helicopter/UAV IND'] = df_sar.apply(lambda row: check_aircraft_heli(row), axis=1)
df_sar = df_sar.drop(columns=['Aircraft evacuation IND', 'Helicopter IND', 'Fixed Wing Aircraft IND', 'UAV IND'])

### Combine Boat

In [ ]:
def check_boat(row):
    if row['Boat/canoe/watercraft IND'] == 'Yes' or row['Swiftwater raft IND'] == 'Yes' or row['Swiftwater IND'] == 'Yes' or row['Vehicle/boat evacuation IND'] == 'Yes' or row['IRV IND'] == 'Yes' or row['Airboat IND'] == 'Yes':
        return 'Yes'
    else:
        return 'No'

# Apply the function to create the new column
df_sar['Boat/Airboat IND'] = df_sar.apply(lambda row: check_boat(row), axis=1)
df_sar = df_sar.drop(columns=['Boat/canoe/watercraft IND', 'Swiftwater raft IND', 'Swiftwater IND', 'Vehicle/boat evacuation IND', 'IRV IND', 'Airboat IND'])

### Combine Treatment

In [ ]:
def check_treatment(row):
    if row['TREATMENT PROVIDED BY RANGERS'] == 'Life-Saving Measures' or row['TREATMENT PROVIDED BY OTHERS'] == 'Life-Saving Measures':
        return 'Life-Saving Measures'
    if row['TREATMENT PROVIDED BY RANGERS'] == 'Basic First Aid' or row['TREATMENT PROVIDED BY OTHERS'] == 'Basic First Aid':
        return 'Basic First Aid'
    if row['TREATMENT PROVIDED BY RANGERS'] == 'Subject Declined Treatment' or row['TREATMENT PROVIDED BY OTHERS'] == 'Subject Declined Treatment':
        return 'Subject Declined Treatment'
    if row['TREATMENT PROVIDED BY RANGERS'] == '' and row['TREATMENT PROVIDED BY OTHERS'] == 'NA':
        return 'NA'
    else:
        return 'NA'

# Apply the function to create the new column
df_sar['Treatment Provided'] = df_sar.apply(lambda row: check_treatment(row), axis=1)

### Combine Weather Ind

In [ ]:
def check_weather(row):
    if row['WEATHER IND STORMY'] == 'Yes' or row['WEATHER IND RAIN'] == 'Yes':
        return 'Rain/Storm'
    elif row['WEATHER IND SNOW'] == 'Yes':
        return 'Snow'
    elif row['WEATHER IND OVERCAST'] == 'Yes' or row['WEATHER IND FOG'] == 'Yes':
        return 'Overcast/Fog'
    elif row['WEATHER IND WIND'] == 'Yes':
        return 'Wind'
    elif row['WEATHER IND CLEAR'] == 'Yes':
        return 'Clear'
    else:
        return 'NA'

# Apply the function to create the new column
df_sar['Weather'] = df_sar.apply(lambda row: check_weather(row), axis=1)
df_sar = df_sar.drop(columns=['WEATHER IND CLEAR', 'WEATHER IND WIND', 'WEATHER IND OVERCAST', 'WEATHER IND FOG', 'WEATHER IND SNOW', 'WEATHER IND STORMY', 'WEATHER IND RAIN'])

### Combine Terrain Ind

In [ ]:
def get_terrain(row):
    terrain = []
    if row['TECHNICAL TERRAIN IND'] == 'Yes':
        terrain.append('<=Technical')
    elif row['MOUNTAIN TERRAIN IND'] == 'Yes':
        terrain.append('<=Mountain')
    elif row['HILY TERRAIN IND'] == 'Yes':
        terrain.append('<=Hilly')
    elif row['FLAT TERRAIN IND'] == 'Yes':
        terrain.append('<=Flat')
    else:
        terrain.append('NA')
    return ', '.join(terrain)

# Create new column 'WEATHER IND'
df_sar['TERRAIN'] = df_sar.apply(get_terrain, axis=1)

df_sar = df_sar.drop(columns=['TECHNICAL TERRAIN IND', 'MOUNTAIN TERRAIN IND', 'HILY TERRAIN IND', 'FLAT TERRAIN IND'])
df_sar.info()

In [ ]:
df_sar['TERRAIN'].value_counts()

In [ ]:
def get_terrain_type(row):
    terrain = []
    if row['SNOW TERRAIN IND'] == 'Yes':
        terrain.append('<=Snow')
    elif row['WOODS TERRAIN IND'] == 'Yes':
        terrain.append('<=Woods')
    elif row['MARSH/SWAMP TERRAIN IND'] == 'Yes':
        terrain.append('<=Marsh/Swamp')
    elif row['ROCK TERRAIN IND'] == 'Yes':
        terrain.append('<=Rock')
    elif row['OPEN TERRAIN IND'] == 'Yes':
        terrain.append('<=Open')
    else:
        terrain.append('NA')
    return ', '.join(terrain)

# Create new column 'WEATHER IND'
df_sar['TERRAIN TYPE'] = df_sar.apply(get_terrain_type, axis=1)

df_sar = df_sar.drop(columns=['SNOW TERRAIN IND', 'MARSH/SWAMP TERRAIN IND', 'ROCK TERRAIN IND', 'WOODS TERRAIN IND', 'OPEN TERRAIN IND'])
df_sar.info()

In [ ]:
df_sar['TERRAIN TYPE'].value_counts()

### Combine Land Classes

In [ ]:
def check_landclass(row):
    if row['LAST KNOWN POINT LAND CLASS'] in ('Forest Preserve', 'State Forests', 'OPRHP State Land', 'Conservation Easement', 'Wildlife Management Area', 'DEC Campground'):
        return 'Protected Area'
    elif row['LAST KNOWN POINT LAND CLASS'] in ('Private Land', 'Other Municipal Land', 'Other DEC Land', 'County Land', 'Federal Land', "Native People's Land"):
        return 'Private Land'
    else:
        return 'NA'

# Apply the function to create the new column
df_sar['Land Class'] = df_sar.apply(lambda row: check_landclass(row), axis=1)

### Combine Adriondack and Catskill

In [ ]:
def check_park(row):
    if row['INCIDENT ADIRONDACK PARK'] == 'Yes':
        return 'Adirondack'
    if row['INCIDENT CATSKILL PARK'] == 'Yes':
        return 'Catskill'
    if row['INCIDENT CATSKILL PARK'] == 'No' and row['INCIDENT ADIRONDACK PARK'] == 'No':
        return 'Neither'
    else:
        return 'NA'

# Apply the function to create the new column
df_sar['Incident Park'] = df_sar.apply(lambda row: check_park(row), axis=1)
df_sar = df_sar.drop(columns=['INCIDENT CATSKILL PARK', 'INCIDENT ADIRONDACK PARK'])

### Add Reasons for Being Lost Ind

In [ ]:
unique_reason_list = set(';'.join(df_sar['REASON FOR BEING LOST']).split(';'))
unique_reason = {reason.strip() for reason in unique_reason_list}

#Create dummy columns
for reason in unique_reason:
    df_sar[reason.strip() + ' IND'] = df_sar['REASON FOR BEING LOST'].apply(lambda x: 'Yes' if reason in x else 'No')

# Drop second NA equipment column
#df_sar.drop(columns=['NA IND'], inplace=True)#

df_sar.rename(columns={'NA IND': 'NA REASON IND'}, inplace=True)


# Calculate number of distinct equipment used - deleted 'NA EQUIPMENT IND', from columns=
df_sar.head()

### Combine Reasons for Being Lost

In [ ]:
def get_reason_prep(row):
    if row['Poor supervision IND'] == 'Yes' or row['Poor map/No map IND'] == 'Yes':
        return 'Yes'
    else:
        return 'No'
    
def get_reason_exec(row):
    if row['Misjudged time/distance IND'] == 'Yes' or row['Took short cut IND'] == 'Yes' or row['Accidental separation IND'] == 'Yes':
        return 'Yes'
    else:
        return 'No'

# Apply the function to create the new column
df_sar['Poor/Inadequate Planning'] = df_sar.apply(lambda row: get_reason_prep(row), axis=1)
df_sar['Poor/Inadequate Execution'] = df_sar.apply(lambda row: get_reason_exec(row), axis=1)

df_sar = df_sar.drop(columns=['Poor supervision IND', 'Poor map/No map IND', 'Misjudged time/distance IND', 'Took short cut IND', 'Accidental separation IND'])
df_sar.info()

### Add Activity Ind

In [ ]:
unique_activity_list = set(';'.join(df_sar['ACTIVITY']).split(';'))
unique_activity = {activity.strip() for activity in unique_activity_list}

#Create dummy columns
for activity in unique_activity:
    df_sar[activity.strip() + ' ACTIVITY IND'] = df_sar['ACTIVITY'].apply(lambda x: 'Yes' if activity in x else 'No')

# Drop second NA equipment column
#df_sar.drop(columns=['NA IND'], inplace=True)#

df_sar.rename(columns={'NA IND': 'NA ACTIVITY IND'}, inplace=True)


# Calculate number of distinct equipment used - deleted 'NA EQUIPMENT IND', from columns=
df_sar.head()

### Add Actions Ind

In [ ]:
unique_actions_list = set(';'.join(df_sar['ACTIONS']).split(';'))
unique_actions = {action.strip() for action in unique_actions_list}

#Create dummy columns
for action in unique_actions:
    df_sar[action.strip() + ' ACTION IND'] = df_sar['ACTIONS'].apply(lambda x: 'Yes' if action in x else 'No')

### Add Route Followed IND

In [ ]:
unique_route_list = set(';'.join(df_sar['ROUTE FOLLOWED']).split(';'))
unique_route = {route.strip() for route in unique_route_list}

#Create dummy columns
for route in unique_route:
    df_sar[route.strip() + ' ROUTE IND'] = df_sar['ROUTE FOLLOWED'].apply(lambda x: 'Yes' if route in x else 'No')

### Add Detectability Ind

In [ ]:
unique_detect_list = set(';'.join(df_sar['DETECTABILITY']).split(';'))
unique_detect = {detect.strip() for detect in unique_detect_list}
print(unique_detect)
#Create dummy columns
for detect in unique_detect:
    df_sar[detect.strip() + ' DETECT IND'] = df_sar['DETECTABILITY'].apply(lambda x: 'Yes' if detect in x else 'No')

### Add Situation Ind

In [ ]:
unique_situation_list = set(';'.join(df_sar['SITUATION']).split(';'))
unique_situation = {situation.strip() for situation in unique_situation_list}
print(unique_situation)
#Create dummy columns
for situation in unique_situation:
    df_sar[situation.strip() + ' SITUATION IND'] = df_sar['SITUATION'].apply(lambda x: 'Yes' if situation in x else 'No')

### Add Contributing Factor Ind

In [ ]:
unique_factor_list = set(';'.join(df_sar['CONTRIBUTING FACTOR']).split(';'))
unique_factor = {factor.strip() for factor in unique_factor_list}
print(unique_factor)
#Create dummy columns
for factor in unique_factor:
    df_sar[factor.strip() + ' CONTR FACTOR IND'] = df_sar['CONTRIBUTING FACTOR'].apply(lambda x: 'Yes' if factor in x else 'No')

### Combine Action

In [ ]:
def get_action_surv(row):
    if row['Found food ACTION IND'] == 'Yes' or row['Sought/built shelter ACTION IND'] == 'Yes':
        return 'Found food/built shelter'
    if row['Conserved energy ACTION IND'] == 'Yes':
        return 'Conserved energy'
    else:
        return 'Neither'   

# Apply the function to create the new column
df_sar['Survival Action IND'] = df_sar.apply(lambda row: get_action_surv(row), axis=1)

df_sar = df_sar.drop(columns=['Found food ACTION IND', 'Sought/built shelter ACTION IND', 'Conserved energy ACTION IND'])

### Combine Snowmobile

In [ ]:
def check_snowmobile(row):
    if row['Snowmobile IND'] == 'Yes' or row['Snowmobile ACTIVITY IND'] == 'Yes':
        return 'Yes'
    else:
        return 'No'

# Apply the function to create the new column
df_sar['Snowmobile IND'] = df_sar.apply(lambda row: check_snowmobile(row), axis=1)
df_sar = df_sar.drop(columns=['Snowmobile ACTIVITY IND'])

### Combine Conscious/Unconscious

In [ ]:
def get_conscious(row):
    if row['Conscious DETECT IND'] == 'Yes':
        return 'Conscious'
    if row['Unconscious DETECT IND'] == 'Yes':
        return 'Unconscious'
    else:
        return 'NA'   

# Apply the function to create the new column
df_sar['Conscious DETECT IND'] = df_sar.apply(lambda row: get_conscious(row), axis=1)

df_sar = df_sar.drop(columns=['Unconscious DETECT IND', 'NA DETECT IND'])

### Combine Uncooperative/Avoidance Ind

In [ ]:
def get_avoid(row):
    if row['Uncooperative DETECT IND'] == 'Yes' or row['Avoided searchers ACTION IND'] == 'Yes':
        return 'Uncooperative/Avoided Searchers'
    if row['Cooperative DETECT IND'] == 'Yes':
        return 'Cooperative'
    else:
        return 'Neither'   

# Apply the function to create the new column
df_sar['Uncooperative/Avoided Searchers IND'] = df_sar.apply(lambda row: get_avoid(row), axis=1)

df_sar = df_sar.drop(columns=['Uncooperative DETECT IND', 'Avoided searchers ACTION IND', 'Cooperative DETECT IND'])

### Combine Fugitive/Criminal

In [ ]:
def get_criminal(row):
    if row['Criminal ACTIVITY IND'] == 'Yes' or row['Fugitive SITUATION IND'] == 'Yes':
        return 'Yes'
    else:
        return 'No'   

# Apply the function to create the new column
df_sar['Fugitive/Criminal IND'] = df_sar.apply(lambda row: get_criminal(row), axis=1)

df_sar = df_sar.drop(columns=['Criminal ACTIVITY IND', 'Fugitive SITUATION IND'])

### Combine Activities

In [ ]:
def get_walking_hiking_boating_hunting(row):
    if row['Hiking ACTIVITY IND'] == 'Yes' or row['Walking ACTIVITY IND'] == 'Yes':
        return 'Walking/Hiking'
    if row['Swimming ACTIVITY IND'] == 'Yes' or row['Fishing ACTIVITY IND'] == 'Yes' or row['Boating ACTIVITY IND'] == 'Yes' or row['Whitewater ACTIVITY IND'] == 'Yes':
        return 'Water Based'
    if row['Hunting ACTIVITY IND'] == 'Yes':
        return 'Hunting'
    else:
        return 'None'   

# Apply the function to create the new column
df_sar['Hiking/Boating/Hiking ACTIVITY IND'] = df_sar.apply(lambda row: get_walking_hiking_boating(row), axis=1)

df_sar = df_sar.drop(columns=['Swimming ACTIVITY IND', 'Fishing ACTIVITY IND', 'Boating ACTIVITY IND', 'Whitewater ACTIVITY IND', 
                              'Hiking ACTIVITY IND', 'Walking ACTIVITY IND', 'Hunting ACTIVITY IND'])

### Combine Panicked / Built Fire

In [ ]:
def get_panicked(row):
    if row['Built fire ACTION IND'] == 'Yes':
        return 'Walking/Hiking'
    if row['Panicked ACTION IND'] == 'Yes':
        return 'Panicked'
    if row['Took no action ACTION IND'] == 'Yes':
        return 'Took no action'
    else:
        return 'Neither'   

# Apply the function to create the new column
df_sar['Action IND'] = df_sar.apply(lambda row: get_panicked(row), axis=1)

df_sar = df_sar.drop(columns=['Panicked ACTION IND', 'Built fire ACTION IND', 'Took no action ACTION IND'])

### Combine Lead Organization Name

In [ ]:
def get_lead_org(row):
    if row['LEAD ORGANIZATION NAME'] == 'FBI' or row['LEAD ORGANIZATION NAME'] == 'State Police':
        return 'FBI/State Police'
    if row['LEAD ORGANIZATION NAME'] == 'DEC Forest Rangers':
        return 'DEC Forest Rangers'
    else:
        return "Sheriff's/Local Fire/Local Police"   

# Apply the function to create the new column
df_sar['LEAD ORGANIZATION NAME'] = df_sar.apply(lambda row: get_lead_org(row), axis=1)

### Combine Offroad/Motor Vehicle

In [ ]:
def get_motor(row):
    if row['Off road vehicle/ATV ACTIVITY IND'] == 'Yes' or row['Motor vehicle ACTIVITY IND'] == 'Yes':
        return 'Yes'
    else:
        return 'No'   

# Apply the function to create the new column
df_sar['Offroad/Motor Vehicle/ATV ACTIVITY IND'] = df_sar.apply(lambda row: get_motor(row), axis=1)

df_sar = df_sar.drop(columns=['Off road vehicle/ATV ACTIVITY IND', 'Motor vehicle ACTIVITY IND'])

## Remove Fugitive/Criminal Cases

In [ ]:
# Filter rows where 'Fugitive' column is 'Yes'
fugitive_rows = df_sar[df_sar['Fugitive/Criminal IND'] == 'Yes']

# Create a new dataframe with the filtered rows
df_fugitive = fugitive_rows.copy()

# Drop the filtered rows from the original dataframe
df_sar = df_sar[df_sar['Fugitive/Criminal IND'] != 'Yes']

In [ ]:
df_sar = df_sar.drop(columns=['Fugitive/Criminal IND'])

## Export Datasets

In [ ]:
df_ny.to_csv('df_ny.csv')

In [ ]:
df_sar.to_csv('df_sar.csv')